{% extends "index.html" %}
{% block main %}

<h1 class="mb-16">{{ section.title }}</h1>
{% for page in subsections %}
<div class="not-prose block-bg my-4 flex w-full flex-col rounded-lg px-5 py-1.5">
  <h3 class="my-2 text-xl font-bold text-black dark:text-white">{{ page.title }}</h3>
  <p>{{ page.extra.summary }}</p>
  <div class="my-2 flex flex-wrap items-center justify-between">
    <div class="flex flex-wrap gap-x-2 text-sm opacity-60">
      {% if page.extra.tags %}
        {% for tag in page.extra.tags %}
        <span>#{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div>
    <div class="flex flex-wrap gap-x-2">
      {% if page.extra.links %}
        {% for link in page.extra.links %}
        <a
          class="underline"
          href="{{ link.url | safe }}"
          rel="noopener"
          target="_blank"
          >{{ link.name }}</a
        >
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock main %}
